.footer-main {
  background: #1b1b1b;
}
.footer-main p {
  color: white;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 20px;
}
.footer-main p span {
  color: #008000;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.footer-main p strong {
  color: #ff6400;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.footer-main-two {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.footer-left {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-center {
  padding-top: 20px;
}

.footer-left p {
  width: 400px;
  text-align: justify;
  color: white;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.footer-left p span {
  color: #ff7518;
}

.footer-center ul {
  list-style-type: none;
  text-align: center;
}

.navi {
  font-family: Inter;
  font-size: 35px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-center ul li a {
  text-decoration: none;
  color: white;
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
}

.footer-right h2 {
  font-family: Inter;
  font-size: 35px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.footer-right p i {
  font-size: 40px;
}

.footer-right {
  padding-top: 20px;
}

.footer-right p {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin: 20px 0px;
}

/* Media Query */

@media (max-width: 558px) {
  .footer-right p {
    font-size: 15px;
  }
  .footer-right p i {
    font-size: 30px;
  }
}
